.btn {
  display: inline-block;
  background-color: $blue-btn;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  @include size(200px, 45px);
  line-height: 45px;
  border-radius: 30px;
}
.btn:hover {
  text-decoration: none;
}
